@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Thin-Trial.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Light-Trial.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Regular-Trial.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Medium-Trial.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Bold-Trial.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GT-America-Standard-Black-Trial.otf');
    font-weight: 700;
}


